body > .modal-wrapper > .modal .edit-tasting-vintage-form + table.subcontent{
    margin-top:30px;
}
.edit-tasting-vintage-form tr.edit-tasting-vintage-form-blindname{
    display: none;
}
.edit-tasting-vintage-form tr.edit-tasting-vintage-form-primeur ul{
    text-align:center;
    white-space:nowrap;
}
.edit-tasting-vintage-form tr.edit-tasting-vintage-form-primeur ul li{
    display:inline-block;
    padding: 0px;
    min-width: 50%;
}
.edit-tasting-vintage-form tr.edit-tasting-vintage-form-primeur ul li > input{
    display:none;
}
.edit-tasting-vintage-form tr.edit-tasting-vintage-form-primeur ul li label{
    white-space: nowrap;
    padding: 4px 8px;
    display: block;
    text-decoration: none;
    border: 1px solid #2ea2cc;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}
.edit-tasting-vintage-form tr.edit-tasting-vintage-form-primeur ul li input:checked + label{
    background-color: #2ea2cc;
    color: #fff;
    /*border: none;*/
}