.companyuserlist thead th:nth-child(2){
    width:100%;
}
.companyuserlist tbody td{
    vertical-align: middle;
}
.companyuserlist tbody td:nth-child(2){
    white-space: nowrap;
}
.companyuserlist tbody td a{
    display:block;
}
.companyuserlist tbody td.edit,.companyuserlist tbody td.change_password{
    width:0;
}
.companyuserlist tbody td.edit a,.companyuserlist tbody td.change_password a{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    cursor: pointer;
}
.companyuserlist tbody td.edit a{
    background-image: url(/modules/User/img/edit.png);
}
.companyuserlist tbody td.change_password a{
    background-image: url(/modules/User/img/change_password.png);
}
.companyuserlist tbody td.role span{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}
.companyuserlist tbody td.role.supervisor span{
    background-image: url(/modules/User/img/supervisor.png);
}