.password-recovery-form thead th{
    font-weight: bold;
    text-align: center;
}
.password-recovery-form td{
    white-space: nowrap;
}
.password-recovery-form tr.submit td{
    text-align: right;
}